@model List<ResultAboutDto>

@foreach (var item in Model)
{
    <section class="ftco-section ftco-about">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/site/images/about.jpg);">
                </div>
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading">Hakkımızda</span>
                        <h2 class="mb-4">@item.title</h2>

                        <p>@item.description</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<section class="ftco-section ftco-intro" style="background-image: url(/site/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">Aceleniz mi var?</h2>
                <a href="#" class="btn btn-primary btn-lg">Bir sürücü kiralayın</a>
            </div>
        </div>
    </div>
</section>