@model List<ResultListCarFeatureByCarIdDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Araba Özellikleri</h4>

                <form method="post">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model[i].carFeatureID"/><br />
                        <input type="checkbox" asp-for="@Model[i].available" class="form-check-input" />
                        <label class="form-check-label" for="@Model[i].available">@Model[i].featureName</label>

                    }

                    <button type="submit" class="btn btn-success mt-3">Özellikleri Kaydet</button>
                </form>


            </div>
            <!-- end card-body-->
        </div>

    </div>
</div>
