@model ResultServiceDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="card container">
    <div class="card-body">

        <h4 class="card-title">Hizmet Güncelle</h4>
        <form method="post">

               <input type="hidden" asp-for="servicesID"/>
                
           
              <div class="form-group">
                <label asp-for="name">Adı</label>
                <input asp-for="name" class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="description">Açıklama</label>
                <input asp-for="description" class="form-control">
            </div>


            <div class="form-group">
                <label asp-for="iconUrl">İkon URL</label>
                <input asp-for="iconUrl" class="form-control">
            </div>

           



            <button type="submit" class="btn btn-warning waves-effect waves-light">Güncelle</button>
        </form>

    </div>
</div>

