@model CommentListViewModel

<h3 class="mb-5">@Model.CommentCount Yorum</h3>

<ul class="comment-list">
    @foreach (var item in Model.Comments)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="/site/images/person_1.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
                <h3>@item.name</h3>
                <div class="meta">@item.createdDate.ToString("dd/MM/yyyy HH:mm")</div>
                <p>@item.description</p>
            </div>
        </li>
    }
   
</ul>