
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    
 @await Html.PartialAsync("/Views/AdminLayout/AdminHeaderPartial.cshtml")

<body>

    <div id="layout-wrapper">
        <script src="~/admin/vertical/assets/js/jquery.min.js"></script>

        @await Html.PartialAsync("/Views/AdminLayout/AdminNavbarPartial.cshtml")
       
        @await Html.PartialAsync("/Views/AdminLayout/AdminSidebarPartial.cshtml")

       
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    @RenderBody()

                </div> 
            </div>

            @await Html.PartialAsync("/Views/AdminLayout/AdminFooterPartial.cshtml")


        </div>

    </div>
    @await Html.PartialAsync("/Views/AdminLayout/AdminScriptPartial.cshtml")

   

</body>

</html>

@RenderBody()
