@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 1;
}


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Banner Listesi</h4>
                <a href="/Admin/Banner/Create" class="btn btn-success">Ekle</a>


                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.title</td>
                                    <td><a href="/Admin/Banner/Remove/@item.bannerID" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Admin/Banner/Update/@item.bannerID" class="btn btn-warning">Güncelle</a></td>

                                </tr>

                                count++;
                            }


                        </tbody>
                    </table>
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>
